@page
@model DnD.Pages.Character.CharacterListModel
@{
    ViewData["Title"] = "CharacterList";
}

<h1>Characters</h1>

<form method="get">
    <div class="form-group">
        <div class="input-group">
            <input type="search" class="form-control" asp-for="SearchTerm" value="">
            <span class="input-group-btn">
                <button class="btn btn-default">
                    Search
                </button>
            </span>
        </div>
    </div>
</form>

<div class="container-fluid">
    @foreach (var character in Model.Characters)
    {
        <div class="row">
            <div class="col-4">
                <a asp-page="./ManageCharacter" asp-route-characterId="@character.Id">@character.Name</a>
            </div>
        </div>
    }
</div>

