@page
@model DnD.Pages.Character.ManageCharacterModel
@{
    ViewData["Title"] = "ManageCharacter";
}

<h1>Manage Character</h1>
<form action="/Update">
    @Html.HiddenFor(x => x.CharacterModel.Id)
    <label asp-for="CharacterModel.Id">Name</label>
    <input asp-for="CharacterModel.Name" />
    <button type="submit">Save</button>
</form>

<a asp-page="./CharacterList" class="btn btn-default">Character List</a>
