.slide {
    animation: 1s ease-out 0s 1 slideInFromLeft;
    animation-fill-mode: both;
}

@keyframes slideInFromLeft {
    0% {
      transform: translateY(2000%);
    }
    100% {
      transform: translateY(0%);
    }
  }